@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    
  }

header {
    background-image: url("imgs/arkaplan.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100vw !important;
    
}

div.flags > img {
    cursor: pointer;
    transition: 300ms ease;
}

div.flags > img:hover {
    transform: scale(1.1);
    transition: 300ms ease;
}

button:active {
    transform:scale(0.9);
}